<link rel="stylesheet" type="text/css" href="/css/menu.css" />
<div class="main-menu-wrapper">
    <ul class="main-menu-list">
        <li><a href="/">Home</a></li>
        <li><a href="/analyze">Analyze</a></li>
        <li><a href="/statistics">Statistics</a></li>
        <li><a href="/history">History</a></li>
        <li><a href="/settings">Settings</a></li>
    </ul>

</div>