<!DOCTYPE html>
<html>
    <head>
        <title>Sensitive Data Discover Tool</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Sensitive Data Discover Tool" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <script src="/js/main.js"></script>
    </head>
    <body>
        <main>
            <div class="main-window-menu">
                {{> mainMenu}}
            </div>
            <div class="main-inner-window">
                {{{body}}}
            </div>
        </main>
    </body>
</html>
