<link rel="stylesheet" type="text/css" href="/css/history.css" />
<div class="history-wrapper">
    <div class="select-file-wrapper" id="selectFileWrapper">
        <div class="select-section-wrapper">
            <label>Scan</label>
            <select class="history-file-selector" id="historyFileSelector" size="10"></select>
        </div>
        <div class="select-section-wrapper">
            <label>File</label>
            <select class="selected-file-selector" id="selectedFileSelector" size="10"></select>
        </div>
        <div class="select-section-wrapper">
            <label>Data</label>
            <select class="selected-file-type-selector" id="selectedFileTypeSelector" size="10"></select>
        </div>
        <div class="select-section-wrapper" id="selectItemWrapper">
            <label>Items</label>
            <select class="selected-item-selector" id="selectedItemSelector" size="10"></select>
        </div>
    </div>
    <div class="show-file-info-wrapper" id="showFileInfoWrapper">

    </div>
    <div class="show-item-wrapper" id="showItemWrapper">

    </div>
    
</div>

<script src="/js/history.js"></script>
<script>initiateHistoryList({{{historyFiles}}}, "{{{selectedFile}}}")</script>
{{#if selectedFileData}}
<script>displaySelectedFile({{{selectedFileData}}})</script>
{{/if}}