<link rel="stylesheet" type="text/css" href="/css/history.css" />
<div class="history-wrapper">
    <div class="select-file-wrapper" id="selectFileWrapper">
        <div class="select-section-wrapper">
            <span>Scan</span>
            <select class="history-file-selector" id="historyFileSelector" size="10"></select>
        </div>
        <div class="select-section-wrapper">
            <span>File</span>
            <select class="selected-file-selector" id="selectedFileSelector" size="10"></select>
        </div>
        <div class="select-section-wrapper">
            <span>Data</span>
            <select class="selected-file-type-selector" id="selectedFileTypeSelector" size="10"></select>
        </div>
        <div class="select-section-wrapper" id="selectItemWrapper">
            <span>Items</span>
            <select class="selected-item-selector" id="selectedItemSelector" size="10"></select>
        </div>
    </div>
    <div class="show-file-info-wrapper" id="showFileInfoWrapper">

    </div>
    <div class="show-item-wrapper" id="showItemWrapper">

    </div>
    <div class="item-user-options-wrapper" id="itemUserOptionsWrapper">
        <span>User Options</span>
        <button class="mark-as-ok-button" id="markAsOKButton" disabled="true">Mark as OK</button>
    </div>
    
</div>

<script src="/js/history.js"></script>
<script>initiateHistoryList({{{historyFiles}}}, "{{{selectedFile}}}")</script>
{{#if selectedFileData}}
<script>displaySelectedFile({{{selectedFileData}}})</script>
{{/if}}