<link rel="stylesheet" type="text/css" href="/css/scan.css" />
<div class="file-select-mode-radio-buttons-wrapper">
    <h4>Mode</h4>
    <input type="radio" class="file-select-mode-radio-button" id="singleFileModeRadioButton" checked="checked" name="file-select-mode">
    <label class="radio-button-label" for="singleFileModeRadioButton">Single File</label>
        
    <input type="radio" class="file-select-mode-radio-button" id="directoryModeRadioButton" name="file-select-mode">
    <label class="radio-button-label" for="directoryModeRadioButton">Directory</label>
</div>

<button id="selectFilesButton">Select Files</button>
<script src="/js/selectFiles.js"></script>