<link rel="stylesheet" type="text/css" href="/css/scan.css" />
<div class="scan-wrapper">
    <div class="file-select-mode-radio-buttons-wrapper">
        <h4>Mode</h4>
        <input type="radio" class="file-select-mode-radio-button" id="singleFileModeRadioButton" checked="checked" name="file-select-mode">
        <label class="radio-button-label" for="singleFileModeRadioButton">Single File</label>
            
        <input type="radio" class="file-select-mode-radio-button" id="directoryModeRadioButton" name="file-select-mode">
        <label class="radio-button-label" for="directoryModeRadioButton">Directory</label>
    </div>
    <div class="select-file-wrapper">
        <h4>Select File</h4>
        <button id="selectFilesButton" class="selectFilesButton">Select</button><label id="selectedFileLabel" for="selectFilesButton" class="selected-file-label"></label>
    </div>
    <div class="select-scan-options-wrapper">
        <div class="select-scan-options-inner-wrapper">
            <h4>Data Type Options</h4>
            <ul class="scan-options-list">
                <li><input type="checkbox" id="nameCheckbox" name="options" class="scan-options-list-item" checked="checked"><label for="nameCheckbox" class="scan-options-list-label">Name</label></li>
                <li><input type="checkbox" id="emailCheckbox" name="options" class="scan-options-list-item" checked="checked"><label for="emailCheckbox" class="scan-options-list-label">Email</label></li>
                <li><input type="checkbox" id="IPCheckbox" name="options" class="scan-options-list-item" checked="checked"><label for="IPCheckbox" class="scan-options-list-label">IP address</label></li>
                <li><input type="checkbox" id="passwordCheckbox" name="options" class="scan-options-list-item" checked="checked" disabled="true"><label for="passwordCheckbox" class="scan-options-list-label">Password</label></li>
                <li><input type="checkbox" id="keyCheckbox" name="options" class="scan-options-list-item" checked="checked" disabled="true"><label for="keyCheckbox" class="scan-options-list-label">Key</label></li>
            </ul>
        </div>
        <div class="select-scan-options-inner-wrapper">
            <h4>Scan Options</h4>
            <ul class="scan-options-list">
                <li><input type="checkbox" id="commentsCheckbox" name="options" class="scan-options-list-item" checked="checked"><label for="commentsCheckbox" class="scan-options-list-label">Include Comments</label></li>
            </ul>
        </div>
    </div>
    <div class="start-scan-wrapper">
        <button id="startScanButton" class="start-scan-button">Scan</button>
        <div class="scan-message-wrapper"><h4 id="scanMessage" class="scan-message"></h4></div>
    </div>
    <div class="select-result-file-name-wrapper">
        <h4>Result Options</h4>
        <label for="selectResultFileNameInput" class="select-result-file-name-label">File Name</label>
        <input type="text" id="selectResultFileNameInput" class="select-result-file-name-input">
    </div>
</div>

<script src="/js/scan.js"></script>