<link rel="stylesheet" type="text/css" href="/css/scan.css" />
<div class="scan-wrapper">
    <div class="file-select-mode-radio-buttons-wrapper">
        <h4>Mode</h4>
        <input type="radio" class="file-select-mode-radio-button" id="singleFileModeRadioButton" checked="checked" name="file-select-mode">
        <label class="radio-button-label" for="singleFileModeRadioButton">Single File</label>
            
        <input type="radio" class="file-select-mode-radio-button" id="directoryModeRadioButton" name="file-select-mode">
        <label class="radio-button-label" for="directoryModeRadioButton">Directory</label>
    </div>
    <div class="select-file-wrapper">
        <h4>Select File</h4>
        <button id="selectFilesButton" class="selectFilesButton">Select</button><label id="selectedFileLabel" for="selectFilesButton" class="selected-file-label"></label>
    </div>
    <div class="select-scan-options-wrapper">
        <h4>Scan Options</h4>
    </div>
    <div class="start-scan-wrapper">
        <button id="startScanButton" class="startScanButton">Scan</button>
    </div>
</div>

<script src="/js/scan.js"></script>