<link rel="stylesheet" type="text/css" href="/css/settings.css" />
<div class="settings-wrapper">
    <div class="profile-wrapper">
        <h4>Profile</h4>
        <select id="selectProfile" class="select-profile">
            
        </select>
        <button class="new-profile-button">New profile</button>
    </div>

    <div class="exlude-wrapper">

        <div class="exclude-menu-wrapper">
            <ul class="exclude-menu-list">
                <li id="excludeMenuGeneral" class="exclude-menu-list-item">General</li>
                <li id="excludeMenuLanguages" class="exclude-menu-list-item">Languages</li>
                <li id="excludeMenuDataTypes" class="exclude-menu-list-item">Data Types</li>
            </ul>
        </div>
        <div id="generalSection" class="dont-display-section">
            <select id="excludeCategorySelector" class="exclude-category-selector">
                <option value="extensions">extensions</option>
                <option value="files">files</option>
                <option value="directories">directories</option>
            </select>
            <span class="extensions-info">?</span>
            <div id="excludeSection" class="exclude-section">
                <h4>Exclude Section</h4>
                <div id="extensionsSection" class="display-section">
                    <div class="left-section">
                        <select id="extensionsCategorySelector" class="extension-category-selector" size='5'>

                        </select>
                        <div>
                            <input type="text" id="extensionsCategoryAddInput" class="category-add-input">
                            <button id="extensionsCategoryAddButton" class="category-add-button">Add</button>
                        </div>
                        <button id="extensionsCategoryDeleteButton"  class="category-delete-button" disabled="true">Delete</button>
                    </div>
                    <div class="right-section">
                        <select id="extensionsSubCategorySelector" class="extension-category-selector" size='5'>

                        </select>
                        <div>
                            <input type="text" id="extensionsSubCategoryAddInput" class="category-add-input" disabled="true">
                            <button id="extensionsSubCategoryAddButton" class="category-add-button" disabled="true">Add</button>
                        </div>
                        <button id="extensionsSubCategoryDeleteButton"  class="category-delete-button" disabled="true">Delete</button>
                    </div>
                </div>
                <div id="filesSection" class="dont-display-section">
                    <div class="left-section">
                        <select id="fileCategorySelector" class="extension-category-selector" size='5'>

                        </select>
                        <div>
                            <input type="text" id="filesCategoryAddInput" class="category-add-input">
                            <button id="filesCategoryAddButton" class="category-add-button">Add</button>
                        </div>
                        <button id="filesCategoryDeleteButton"  class="category-delete-button" disabled="true">Delete</button>
                    </div>
                    <div class="right-section">
                        <select id="fileSubCategorySelector" class="extension-category-selector" size='5'>

                        </select>
                        <div>
                            <input type="text" id="filesSubCategoryAddInput" class="category-add-input" disabled="true">
                            <button id="filesSubCategoryAddButton" class="category-add-button" disabled="true">Add</button>
                        </div>
                        <button id="filesSubCategoryDeleteButton"  class="category-delete-button" disabled="true">Delete</button>
                    </div>
                </div>
                <div id="directoriesSection" class="dont-display-section">
                    <div class="left-section">
                        <select id="directoriesCategorySelector" class="extension-category-selector" size='5'>

                        </select>
                        <div>
                            <input type="text" id="directoriesCategoryAddInput" class="category-add-input">
                            <button id="directoriesCategoryAddButton" class="category-add-button">Add</button>
                        </div>
                        <button id="directoriesCategoryDeleteButton"  class="category-delete-button" disabled="true">Delete</button>
                    </div>
                    <div class="right-section">
                        <select id="directoriesSubCategorySelector" class="extension-category-selector" size='5'>

                        </select>
                        <div>
                            <input type="text" id="directoriesSubCategoryAddInput" class="category-add-input" disabled="true">
                            <button id="directoriesSubCategoryAddButton" class="category-add-button" disabled="true">Add</button>
                        </div>
                        <button id="directoriesSubCategoryDeleteButton"  class="category-delete-button" disabled="true">Delete</button>
                    </div>
                </div>
            </div>
            <h4>Include Section</h4>
            <div id="includeSection" class="include-section">

            </div>
        </div>

        <div id="dataTypesSection" class="dont-display-section">
            <select id="dataTypeSelector" class="exclude-category-selector">
                    <option value="name">name</option>
                    <option value="email">email</option>
                    <option value="ip">ip</option>
                    <option value="password">password</option>
                    <option value="key">key</option>
                    <option value="other">other</option>
            </select>
            <div id="nameSection" class="display-section">
                <div id="excludeNameSection">
                    <h4>Exclude Section</h4>
                    <select id="excludeNameSelector" class="exclude-type-selector" size='5'>

                    </select>
                    <div>
                        <input type="text" id="excludeNameInput" class="data-type-input">
                        <button id="excludeNameAddButton" class="data-type-add-button">Add</button>
                    </div>
                    <button id="excludeNameDeleteButton"  class="data-type-delete-button" disabled="true">Delete</button>
                </div>
                <div id="includeNameSection" class="data-type-include-section">
                    <h4>Include Section</h4>
                    <select id="includeNameSelector" class="include-type-selector" size='5'>

                    </select>
                    <div>
                        <input type="text" id="includeNameInput" class="data-type-input">
                        <button id="includeNameAddButton" class="data-type-add-button">Add</button>
                    </div>
                    <button id="includeNameDeleteButton"  class="data-type-delete-button" disabled="true">Delete</button>
                </div>
            </div>
            <div id="emailSection" class="dont-display-section">
                email
            </div>
            <div id="ipSection" class="dont-display-section">
                ip
            </div>
            <div id="passwordSection" class="dont-display-section">
                password
            </div>
            <div id="keySection" class="dont-display-section">
                key
            </div>
            <div id="otherSection" class="dont-display-section">
                other
            </div>
        </div>

        <div id="languagesSection" class="dont-display-section">
            languages
        </div>
    </div>
    <button id="saveSettingsButton">Save</button>
</div>
<script src="/js/settings.js"></script>
<script>initiateSettings({{{profiles}}}, {{{activeProfile}}})</script>