span {
    display: block;
}

.history-wrapper {
    margin: 20px;
}

.history-file-selector {
    outline: none;
    width: 100%;
    height: 150px;
}

.selected-file-selector {
    outline: none;
    width: 100%;
    height: 150px;
}

.selected-file-type-selector {
    outline: none;
    width: 100%;
    height: 150px;
}

.selected-item-selector {
    outline: none;
    width: 100%;
    height: 150px;
}

.select-file-wrapper {
    display: table;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 10px;
    border-bottom: 1px solid white;
}

.select-section-wrapper{
    display: table-cell;
}

.select-section-wrapper label {
    display: block;
}

.file-result-alert {
    background-color: rgb(212, 103, 103);
}

.file-result-noalert {
    background-color: rgb(101, 211, 106);
}

.show-item-wrapper {
    padding: 10px;
}

.inline-text-error {
    display: inline;
    color: rgb(212, 103, 103);
}