h4 {
    margin: 0;
    padding: 0;
}

.main-menu-wrapper {
    width: 90%;
    margin: 20px auto;
    padding: 0 10px;
    border-radius: 30px;
    border: 1px solid white;
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    box-shadow: 5px 5px 10px var(--clr-shadows);
}

.main-menu-list {
    padding: 5px 5px;
    font-size: 20px;
    margin: 0;
}

.main-menu-list li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 20px;
}

.main-menu-list li a {
    color: var(--clr-text);
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.main-menu-list li a:hover, .main-menu-list li a:focus {
    color: var(--clr-text-hover);
}

