:root {
    --clr-background:  rgb(193, 194, 196);
    --clr-primary:  rgb(127, 148, 192);
    --clr-accent: rgb(95, 142, 231);
    --clr-text: rgb(81, 87, 97);
    --clr-text-hover: rgb(110, 148, 224);
    --clr-shadows: rgb(85, 121, 192);
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right top, #659edf, #6ca3eb)
}

main {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-inner-window {
    background: white;
    padding: 20px;
    width: 85%;
    height: 80vh;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 20px;
    border: 1px solid white;
    box-shadow: 5px 5px 10px var(--clr-shadows);
    color: var(--clr-text);
}